<script src="js/userSlider.js"></script>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10 slider-container">  

            {{#if messages.success}}
            <div class="alert alert-success">{{messages.success}}</div>
            {{/if}}

            <div class="users-wrapper">
            {{#each users as |user|}}
                <div class="user-container position-relative">
                    <div class="text-center">                   
                        <h2 class="mt-2">{{user.username}}</h2>
                        <h4 class="text-muted small">Gender: 
                            {{#if (eq user.gender 'male')}}
                                Male
                            {{else}}
                                Female
                            {{/if}}
                        </h4>

                        <!-- Age from date of birth -->
                        <h4 class="text-muted small">Age: {{user.age}}</h4>
                        <h5><i>{{user.description}}</i></h5>
                    </div>

                    <!-- Flex Container for books and like button -->
                    <div class="flex-container">
                        
                        <!-- Book group -->
                        <div class="book-group d-flex flex-wrap">
                            {{#each user.likedBooks as |book|}}
                                <img src="{{book.coverImage}}" class="w-50" alt="{{book.coverImage}}">
                            {{/each}}
                        </div>

                        <!-- Like button -->
                        <form action="/like/{{user._id}}" method="post" class="like-button">
                            {{#if user.isLiked}}
                            <input type="hidden" name="action" value="unlike">
                            <button type="submit" class="btn btn-danger btn-sm">Unlike</button>
                            {{else}}
                            <input type="hidden" name="action" value="like">
                            <button type="submit" class="btn btn-primary btn-sm">Like</button>
                            {{/if}}
                        </form>
                        
                    </div> <!-- End of flex-container -->
                    
                </div> <!-- End of user-container -->
            {{/each}}

            </div> <!-- End of users-wrapper -->

            <button class="slider-button prev">&#10094;</button>
            <button class="slider-button next">&#10095;</button>
        </div> <!-- End of col-md-10 slider-container -->
    </div> <!-- End of row justify-content-center -->
</div> <!-- End of container mt-5 -->
