<script src="/js/scripts.js"></script>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">

    <style>
      .sender-name {
              font-size: 1.2rem; 
              
              font-family: cursive;
              flex-shrink: 0;  
          }
      .messages-container {
              height: 600px; 
              overflow-y: auto;
          }    
      .message, .message-content {
              max-width: 80%; 
              text-align: start;
          }    
      .message-size {
              font-size: 1.2rem;
          }
    </style>  


     <div class="conversation-start">

      <div class="messages-container p-3 mb-4 border rounded overflow-auto">
        <div id="conversation-start" class="mb-5 p-3 rounded text-center" style="background-color: #f8f9fa;">
          <div class="user-images">
            <img src="{{currentUser.avatarUrl}}" alt="Avatar del usuario actual" class="rounded-circle" width="100">
            <img src="{{otherUser.avatarUrl}}" alt="Avatar del otro usuario" class="rounded-circle" width="100">
          </div>
          <h2 class="mt-2">¡Es el comienzo de una nueva conversación!</h2>
          <p>Estás chateando con {{otherUser.username}}. Esperamos que tengan una charla amena.</p>
        </div>  
         
      
      

        {{#each match.messages}}

        {{#ifEqual this.sender._id ../currentUser._id}}
       
        <div class="message sent">
          <div>
            <img src="{{../currentUser.avatarUrl}}" alt="Avatar" class="rounded-circle" width="50">
            <span class="text-muted sender-name">{{this.sender.username}}</span>
          </div>
          <p class="mb-1 message-size">{{this.content}}</p>
          <span class="text-muted small">{{elapsedTime this.createdAt}}</span>
          {{else}}
          <div class="message received">
            <div>
              <img src="{{this.sender.avatarUrl}}" alt="Avatar" class="rounded-circle" width="50">
              <span class="text-muted sender-name">{{this.sender.username}}</span>
            </div>
            <p class="mb-1 message-size">{{this.content}}</p>
            <span class="text-muted small">{{elapsedTime this.createdAt}}</span>
            {{/ifEqual}}
          </div>
          {{/each}}

        </div>

        <div class="mt-2">
            <form action="/matches/{{match._id}}/messages" method="POST" style="display: flex;">
                <textarea name="content" rows="4" class="form-control" style="flex-grow: 1; margin-right: 1rem;"></textarea> <!-- Añade el margen aquí -->
                <button type="submit" class="btn btn-primary mt-2">Enviar</button>
            </form>
        </div>
      </div>
    </div>
  </div>

  