
<script src="/js/scripts.js"></script>


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">


      <div class="user-details">
        <img src="{{currentUser.avatarUrl}}" alt="Avatar" class="rounded-circle" width="150">
        <h2 class="mt-2">{{currentUser.username}}</h2>

      </div>



    <div class="messages-container p-3 mb-4 border rounded overflow-auto">
   {{#each match.messages}}
    {{#ifEqual this.sender._id ../currentUser._id}}
        <div class="message sent">
        <p class="mb-1">{{this.content}}</p>
        <small class="text-muted">Enviado por: {{this.sender.username}}</small>
    {{else}}
        <div class="message received">
        <p class="mb-1">{{this.content}}</p>
        <small class="text-muted">Recibido de: {{this.sender.username}}</small>
    {{/ifEqual}}
        </div>
{{/each}}

</div>

        <div class="message-form">
          <form action="/matches/{{match._id}}/messages" method="POST">
            <textarea name="content" rows="4" cols="50"></textarea>
            <button type="submit">Enviar</button>
          </form>
        </div>
      </div>
    </div>


  </div>