<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center">

        <form action="/user/{{user._id}}/editProfile" method="POST" enctype="multipart/form-data">
          {{!-- editar imagen --}}
          <div class="mb-3">
            <img src="{{user.avatarUrl}}" alt="Avatar" class="rounded-circle mb-5" width="180">
            <label for="image" class="form-label">Profile Imagen</label>
            <input name="image" type="file" class="form-control" id="image" />

          </div>

          {{!-- username edit --}}
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fa fa-fw fa-tag"></i></span>
              <input name="username" type="text" class="form-control {{#if errors.name}} is-invalid {{/if}}" id="username" placeholder="username" value="{{user.username}}" />
            </div>
            {{#if errors.username}}<div class="invalid-feedback fs-6">{{errors.username}}</div>{{/if}}
          </div>

          
          <!-- edit description -->
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text"><i class="fa fa-fw fa-pencil"></i></span>
              <textarea name="description" class="form-control auto-expand" id="description" rows="1" placeholder="Edit status...">{{user.description}}</textarea>
            </div>
          </div>


          {{!-- edit like books --}}
          <section class="row gallery mt-4">
            {{#each books as |book|}}
            <div class="col-2 gallery-item">
              <div class="book-container">
                <a href="{{book.coverImage}}" data-lightbox="gallery" data-title="{{book.title}}">
                  <img src="{{book.coverImage}}" class="img-fluid" alt="{{book.title}}">
                </a>
                <div class="custom-control custom-checkbox book-checkbox">
                  <input type="checkbox" class="custom-control-input" name="likedBooks" value="{{book._id}}" id="book-{{book._id}}">

                  <label class="custom-control-label" for="book-{{book.id}}"></label>
                </div>
              </div>
            </div>
            {{/each}}
          </section>

          <button type="submit" class="btn btn-primary mb-2">Edit</button>

        </form>

      </div>
      <hr>
    </div>
  </div>
</div>