<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center">

        <form action="/user/{{user._id}}/editProfile" method="POST" enctype="multipart/form-data">
          {{!-- editar imagen --}}
          <div class="mb-3">
            <img src="{{user.avatarUrl}}" alt="Avatar" class="rounded-circle mb-5" width="180">
            <label for="image" class="form-label">Profile Imagen</label>
            <input name="image" type="file" class="form-control" id="image" />

          </div>

          {{!-- username edit --}}
          <div class="mb-3">
            <label for="username" class="form-label text-muted small">Username</label>
            <input name="username" type="text" class="form-control {{#if errors.name}} is-invalid {{/if}}" id="username"
              placeholder="username" value="{{user.username}}" />
            {{#if errors.username}}<div class="invalid-feedback fs-6">{{errors.username}}</div>{{/if}}

          </div>

          {{!-- edit description --}}
          <div class="mb-3">
            <label for="description" class="form-label text-muted small">Status</label>
            <textarea name="description" class="form-control" id="description" rows="5"
              placeholder="Edit status...">{{user.description}}</textarea>
          </div>

          {{!-- edit likedBooks --}}
          <div class="col-6">
            <section class="row gallery">
              {{#each books as |book|}}
              <div class="col-3 gallery-item">
                <div class="book-container">
                  <a href="{{book.coverImage}}" data-lightbox="gallery" data-title="{{book.title}}">
                    <img src="{{book.coverImage}}" class="img-fluid" alt="{{book.title}}">
                  </a>
                  <label for="book-{{book.id}}" class="select-book"></label>
                </div>
                <input type="checkbox" name="books" id="book-{{book.id}}" class="hidden-checkbox" />
              </div>
              {{/each}}
            </section>
            {{#if errors.books}}
            <div class="mt-2 alert alert-danger">{{errors.books.message}}</div>
            {{/if}}
          </div>

          <button type="submit" class="btn btn-primary mb-2">Edit</button>

        </form>

      </div>
      <hr>
    </div>
  </div>
</div>