<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <img src="{{user.avatarUrl}}" alt="Avatar" class="rounded-circle" width="150">
                <h2 class="mt-2">{{user.username}}</h2>
                <div class="mt-2">
                    <h3 class="mb-4"></h3>
                    <h5><i> {{user.description}}</i> </h5>
                </div>

                {{!-- Gender in Spanish --}}
                <h4>Gender: 
                    {{#if (eq user.gender 'male')}}
                        Male
                    {{else}}
                        Female
                    {{/if}}
                </h4>

                {{!-- Age from date of birth --}}
                <h4>Edad: {{user.age}}</h4>

            

            </div>
            <h3 class="mb-4">Libros Favoritos:</h3>
            <section class="d-flex flex-wrap">
                {{#each user.likedBooks as |book|}}
                    <img src="{{book.coverImage}}" class="w-50 p-1" alt="{{book.coverImage}}">
                {{/each}}
            </section>
        </div>
    </div>
</div>
