<section class="container">
  <h2 class="mb-3">Register</h2>
  <form action="/register" method="POST">




    {{!--NAME--}}
    <div class="row">
      <div class="col-6">
        <div class="input-group mb-2">
          <span class="input-group-text"><i class="fa fa-fw fa-user"></i></span>
          <input type="text" name="name" class="form-control {{#if errors.name}} is-invalid {{/if}}" placeholder="name"
            aria-label="Name" value="{{user.name}}">
          {{#if errors.name}}<div class="invalid-feedback fs-6">{{errors.name}}</div>{{/if}}
        </div>

        {{!--date of birth--}}
        <div class="input-group mb-2">
          <span class="input-group-text"><i class="fa fa-fw fa-calendar"></i></span>
          <input type="date" name="dateOfBirth" class="form-control {{#if errors.dateOfBirth}} is-invalid {{/if}}"
            placeholder="Date of Birth" aria-label="Date of Birth" value="{{user.dateOfBirth}}">
          {{#if errors.dateOfBirth}}<div class="invalid-feedback fs-6">{{errors.dateOfBirth}}</div>{{/if}}
        </div>

        {{!--gender--}}
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa fa-fw fa-venus-mars"></i></span>
          <select name="gender" class="form-select {{#if errors.gender}} is-invalid {{/if}}">
            <option value="" disabled {{#unless user.gender}}selected{{/unless}}>Select your gender
            </option>
            <option value="male" {{#if (eq user.gender "male" )}}selected{{/if}}>Male</option>
            <option value="female" {{#if (eq user.gender "female" )}}selected{{/if}}>Female</option>
          </select>
          {{#if errors.gender}} <div class="invalid-feedback fs-6">{{errors.gender}}</div>{{/if}}
        </div>



        {{!--email--}}
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa fa-fw fa-envelope"></i></span>
          <input type="text" name="email" class="form-control {{#if errors.email}} is-invalid {{/if}}"
            placeholder="email" aria-label="Name" value="{{user.email}}">
          {{#if errors.email}}<div class="invalid-feedback fs-6">{{errors.email}}</div>{{/if}}
        </div>

        {{!--username--}}
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa fa-fw fa-tag"></i></span>
          <input type="text" name="username" class="form-control {{#if errors.username}} is-invalid {{/if}}"
            placeholder="username" aria-label="Name" value="{{user.username}}">
          {{#if errors.username}}<div class="invalid-feedback fs-6">{{errors.username}}</div>{{/if}}
        </div>

        {{!--password--}}
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fa fa-fw fa-lock"></i></span>
          <input type="password" name="password" class="form-control {{#if errors.password}} is-invalid {{/if}}"
            placeholder="Enter your password" aria-label="Password">
          {{#if errors.password}}<div class="invalid-feedback fs-6">{{errors.password}}</div>{{/if}}
        </div>
      </div>

      {{!-- edit books --}}
      <div class="col-6">
        <section class="row"> <!-- Agregamos la clase "row" aquí -->
          {{#each books as |book|}}
          <div class="col-3 position-relative"> <!-- Cambiamos la clase aquí a "col-3" -->
            <label for="book-{{book.id}}">
              <img src="{{book.coverImage}}" class="d-block w-100" alt="{{book.title}}">
            </label>
            <input type="checkbox" name="books" id="book-{{book.id}}" class="" />
          </div>
          {{/each}}
        </section>
      </div>





      <div class="d-grid gap-3 mt-2">
        <button class="btn btn-primary">Register</button>
      </div>
  </form>
</section>